* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, #260fd0c4, #1b0ad3ae, #0000ffc9);
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.btn {
  background-color: rgb(29, 15, 139);
  font-family:'Courier New', Courier, monospace;
  font-size: 25px;
  padding: 25px 40px;
  margin: 10px;
  color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  display:flexbox;

}

.btn:hover{
  opacity: 0.9;
}
.btn:focus{
  outline: none;
}
